body {
    padding-top: 120px;
}

.doomsday-header {
    background-color: #7A458F;
}

.doomsday-border {
    border-color: #7A458F;
}

.norlingo-header {
    background-color: #71408F;
}

.norlingo-border {
    border-color: #71408F;
}

.grappledash-header {
    background-color: #9957C2;
}

.grappledash-border {
    border-color: #9957C2;
}

.flicker-header {
    background-color: #71408F;
}

.flicker-border {
    border-color: #71408F;
}

.pacman-header {
    background-color: #A55DC2;
}

.pacman-border {
    border-color: #A55DC2;
}

.mirage-header {
    background-color: #7A458F;
}

.mirage-border {
    border-color: #7A458F;
}

.subnet-header {
    background-color: #A55DC2;
}

.subnet-border {
    border-color: #A55DC2;
}